@model PAT_ELAC.Models.Topic

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Topic</legend>

    <div class="editor-label">
         @Html.DisplayNameFor(model => model.description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.description)
    </div>
        <div class="editor-label">
         @Html.DisplayNameFor(model => model.Message)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Message)
    </div>

</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.TopicId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
